<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590014607433-18ti7q2s0rn49m880crjj6ggq1dfc76o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590014607433-18ti7q2s0rn49m880crjj6ggq1dfc76o</string>
	<key>API_KEY</key>
	<string>AIzaSyA8MUeGjplUhNJODTounatFFsw0d3TCYlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>590014607433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keremtigre.iTravelBook</string>
	<key>PROJECT_ID</key>
	<string>travelbook-472dd</string>
	<key>STORAGE_BUCKET</key>
	<string>travelbook-472dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590014607433:ios:010a108ad90fa0531ecf98</string>
</dict>
</plist>